@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

/*
sylvester's colors
maroon: maroon;
ivory: ivory;
blue: #121b43;
*/

*{
    margin: 0px;
    font-family: "Rubik", sans-serif;
    user-select: none;
}

/* NAV */
nav{
    animation: 4s ease-out 0s 1 slideTop; 
    width: 100%;
    height: auto;
    padding: 15px;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    background: linear-gradient(900deg, black, transparent);
}

nav button{
    width: 100px;
    height: 50px;
    margin-right: 30px;
    border: 1px solid transparent;
    background-color: transparent;
    color: ivory;
    font-size: 15px;
    font-weight: normal;
    transition-duration: 0.2s;
}

nav button:hover{
    border: 1px solid ivory;
    background-color: rgba(255, 255, 240, 0.13);
}

nav .join{
    border: 1px solid gold;
    color: gold;

}

nav .join:hover{
    background-color: gold;
    border: 1px solid gold;
    color: black;
    box-shadow: 0px 10px 100px rgba(255, 238, 0, 0.911);
}

nav button:last-child{
    margin-right: 0px;
}

nav .sscklogo{
    position: absolute;
    left: 15px;
    margin-right: 50px;
    max-width: 50px;
    max-height: 50px;
    transition-duration: 0.4s;
}

nav .vitslogo{
    position: absolute;
    right: 0px;
    margin-right: 45px;
    max-width: auto;
    max-height: 60px;
}

/* SECTION */
.section{
    height: 100vh;
}

.first{
    background-image: url(img/VITSBG2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
}

/*SECTION more*/
.second{
    background-image: none;
    background-color: black;
}

/* ANIMATIONS */

@keyframes slideTop{ /*NAV ANIMATION*/
    0%{
        transform: translatey(-100px);
        opacity: 0%;
    }
    100%{
        transform: translatey(0px);
        opacity: 100%;
    }
}

/* SCROLLBAR */
::-webkit-scrollbar{
    width: 10px;
    background: linear-gradient(0deg, rgba(83,0,0,1) 0%, rgba(128,0,0,1) 33%, rgba(255,248,210,1) 33%, rgba(255,246,199,1) 66%, rgba(8,57,111,1) 66%, rgba(6,33,62,1) 100%); 
}